<!DOCTYPE html>
<html>
  <head>
    <title>Document Manager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
          <%= link_to "DOCUMENT MANAGER", documents_path, id: "logo" %>
          <nav>
              <ul class="nav navbar-nav navbar-right">
                  <li>
                      <%= link_to documents_path do %>
                        <span class="fa fa-book" style="color:white"></span>
                        Documents
                      <% end %>
                  </li>
                  <li>
                      <%= link_to categories_path do %>
                        <span class="fa fa-tags" style="color:white"></span>
                        Categories
                      <% end %>
                  </li>
                  <% if user_signed_in? %>
                      <li>
                          <%= link_to(destroy_user_session_path, :method => :delete) do %>
                            <span class="fa fa-sign-out" style="color:white"></span>
                            Logout
                          <% end %>
                      </li>
                  <%else %>
                      <li>
                          <%= link_to new_user_session_path do %>
                            <span class="fa fa-sign-out" style="color:white"></span>
                            Sign In
                          <% end %>
                      </li>
                      <li>
                          <%= link_to new_user_registration_path do %>
                            <span class="fa fa-user-plus" style="color:white"></span>
                            Register
                          <% end %>
                      </li>
                  <% end %>
              </ul>
          </nav>
      </div>
    </header>
    <div class="container" style='margin-top:60px'>
      <% if not notice.nil? %>
        <p class="alert alert-success" role="alert"><%= notice %></p>
      <% end %>
      <% if not alert.nil? %>
        <p class="alert alert-danger" role="alert"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
