<!DOCTYPE html>
<html>
  <head>
    <title>Document Manager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <br>
    <br>
    <nav class="navbar navbar-toogleable-md navbar-fixed-top navbar-inverse">
      <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#nabbarToCoollapse" aria-controls="nabbarToCoollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="container" id= "nabbarToCoollapse">
          <% if user_signed_in? %>
            <%= link_to "DOCUMENT MANAGER", documents_path, id: "logo" %>
            <%= form_tag(documents_path, method: 'get', class: 'navbar-form navbar-left') do %>
            <%= search_field_tag 'search', params[:search], class: 'form-control', placeholder: 'Search'  %>
            <%= submit_tag "Submit", class: 'btn btn-primary', :name => nil %>
            <% end %>
          <% else %>
            <%= link_to "DOCUMENT MANAGER", public_documents_path, id: "logo" %>
            <%= form_tag(public_documents_path, method: 'get', class: 'navbar-form navbar-left') do %>
            <%= search_field_tag 'search', params[:search], class: 'form-control', placeholder: 'Search'  %>
            <%= submit_tag "Submit", class: 'btn btn-default', :name => nil %>
            <% end %>
          <% end %>
        <div class = "navbar-collapse collapse">
          <nav>
              <ul class="nav navbar-nav navbar-right">
                  <% if user_signed_in? %>
                      <li>
                          <%= link_to documents_path do %>
                            <span class="fa fa-book" style="color:white"></span>
                            Browse Documents
                          <% end %>
                      </li>
                      <li>
                          <%= link_to my_documents_path do %>
                            <span class="fa fa-book" style="color:white"></span>
                            My Documents
                          <% end %>
                      </li>
                      <li>
                          <%= link_to categories_path do %>
                            <span class="fa fa-tags" style="color:white"></span>
                            Categories
                          <% end %>
                      </li>
                      <li>
                          <%= link_to(destroy_user_session_path, :method => :delete) do %>
                            <span class="fa fa-sign-out" style="color:white"></span>
                            Logout
                          <% end %>
                      </li>
                  <%else %>
                      <li>
                          <%= link_to public_documents_path do %>
                            <span class="fa fa-book" style="color:white"></span>
                            Browse Documents
                          <% end %>
                      </li>
                      <li>
                          <%= link_to new_user_session_path do %>
                            <span class="fa fa-sign-out" style="color:white"></span>
                            Sign In
                          <% end %>
                      </li>
                      <li>
                          <%= link_to new_user_registration_path do %>
                            <span class="fa fa-user-plus" style="color:white"></span>
                            Register
                          <% end %>
                      </li>
                  <% end %>
              </ul>
          </nav>
        </div>
      </div>
    </nav>
    <div class="container" style='margin-top:60px'>
      <% if not notice.nil? %>
        <div class="alert alert-success" role="alert"><%= notice %><a class="close" data-dismiss="alert" href="#">&times;</a></div>
      <% end %>
      <% if not alert.nil? %>
        <div class="alert alert-danger" role="alert"><%= alert %><a class="close" data-dismiss="alert" href="#">&times;</a></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
