<%= form_for(document) do |f| %>
  <% if document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% document.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :title %>
  <div class="field">
    <%= f.text_field :title %>
  </div>

  <%= f.label :text %>
  <div class="field">
    <%= f.text_area :text, style: "margin: 0px; height: 410px; width: 573px;" %>
  </div>

  <div class="field">
    <%= f.collection_select(:categories, Category.all, :id, :title, {}, {:multiple => true, :class => 'category_selector'}) %>
  </div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $(".category_selector").select2();
  });
</script>
