
<div class="panel panel-default">
  <div class="panel-heading">
    <h1>My Documents</h1>
  </div>
  <table class='table'>
    <thead>
      <tr>
        <th>Title</th>
        <th>Text</th>
        <th>Category</th>
        <th>Permissions</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @documents.each do |document| %>
        <tr>
          <td><%= document.title %></td>
          <td><%= truncate(document.text.html_safe, length:75) %></td>
          <td><p>
            <% document.categories.each do |c| %>
              <%= c%><%if not c.equal? document.categories.last %>, <% end %>
            <% end %>

          </p></td>
          <td>
            <%if document.is_public %>
                Public
            <%else%>
                Private
            <%end%>
          </td>
          <td><%= link_to 'Show', document, class: "btn btn-info", style: "color:white" %></td>
          <td><%= link_to 'Edit', edit_document_path(document), class: "btn btn-primary", style: "color:white" %></td>
          <td><%= link_to 'Destroy', document, class: "btn btn-danger", style: "color:white" ,method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>


<br>

<%= link_to 'New Document', new_document_path, class: "btn btn-primary", style: "color:white"  %>
