<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @document.title %>
</p>

<p>
  <strong>Text:</strong>
  <pre>
  <%= markdown(@document.text) %>
  </pre>
</p>

<p>
  <strong>Categories:</strong>
  <% @document.categories.each do |c| %>
      <%= c  %>
      <% if not c.equal? @document.categories.last %>
      |
      <% end %>
  <% end %>

</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
