
<div class="panel panel-primary">
  <div class = "panel-heading">
    <h2>
      <strong><%= @document.title %></strong>
      <% if @document.is_public? %>
        <strong> [Public]<strong>
      <% else %>
        <strong> [Private]<strong>
      <% end %>
    </h2>
    <h6>
      <strong>Created by:</strong>
      <i>
        <%= @document.user.first_name + " " + @document.user.last_name %>
      </i>
    </h6>
    <% if !@document.users.uniq.empty? %>
      <h6>
        <i>
          <strong>Collaborators:</strong>
          <% @document.users.uniq.each do |c| %>
              <%= c  %>
              <% if not c.equal? @document.users.uniq.last %>
              ,
              <% end %>
          <% end %>
        </i>
      </h6>
    <% end %>

  </div>
  <div class="panel-body">
    <p>
      <%= raw @document.text %>
    </p>
  </div>
  <div class="panel-footer">
    <div class = "row">
      <% if @current_user.id %>
        <% button_class = 'btn btn-link notActive' %>
        <% button_title = 'Like Document' %>
        <% span_class = 's-notActive' %>
        <% @current_user.likes.each do |like| %>
          <% if like.document == @document %>
            <% button_class = 'btn btn-link isActive' %>
            <% button_title = 'Unlike Document' %>
            <% span_class = 's-isActive' %>
            <% break %>
          <% end %>
        <% end %>
      <% end %>
      <div class = "col-md-6" align = "left">
        <strong>Categories:</strong>
        <% @document.categories.each do |c| %>
            <%= c  %>
            <% if not c.equal? @document.categories.last %>
            |
            <% end %>
        <% end %>
      </div>
      <div class = "col-md-6" align = "right">
        <span>
        <p id='people-like-<%= @document.id -%>' style="display:inline;">Likes: <%= @document.likes.length %></p>
        <button title="<%= button_title -%>" onclick="toggleLike(<%= @document.id -%>)" id="<%= @document.id -%>" type="button" class="<%= button_class -%>">
          <span id="span-<%= @document.id -%>" class="glyphicon glyphicon-heart <%= span_class -%>"></span>
        </button>
        </span>
      </div>
    </div>
  </div>
</div>

<div class = "row">
  <div class = "col-md-6" align = "left">
    <%= link_to 'Edit', edit_document_path(@document), class: "btn btn-primary", style: "color:white" %> |
    <%= link_to 'Back', documents_path, class: "btn btn-success", style: "color:white" %>
  </div>
  <div class = "col-md-6" align = "right">
    <%= link_to document_suggestions_path(@document), class: "btn btn-primary-2", style: "color:white"  do %>
      <span class="fa fa-comment" style="color:white;"></span>
      <%= @document.suggestions.length %> Suggestions
    <% end %>
  </div>
</div>

<style>
.s-isActive {
    color: #d9534f;  // Hex for primary-danger
}
.s-notActive{
    color: grey;
}
.s-isActive:hover{
    color: #990000;
}
.s-notActive:hover{
    color: #474747;
}
</style>
