<p id="notice"><%= notice %></p>


<div class="panel panel-primary">
  <div class = "panel-heading">
    <h3>
      <strong><%= @document.title %></strong>
    </h3>
  </div>
  <div class="panel-body">
    <p>
      <%= markdown(@document.text) %>
    </p>
  </div>
  <div class="panel-footer">
    <p> categorias </p>
  </div>
</div>
<p>
  <strong>Categories:</strong>
  <% @document.categories.each do |c| %>
      <%= c  %>
      <% if not c.equal? @document.categories.last %>
      |
      <% end %>
  <% end %>
</p>

<%= link_to 'Edit', edit_document_path(@document), class: "btn btn-primary" %> |
<%= link_to 'Back', documents_path, class: "btn" %>
