<div class="panel panel-default">
  <div class="panel-heading">
    <h1>
      Suggestions for:
        <i><a href="<%= document_path(@document) %>" style="color:black;"><%= @document %></a></i>
    </h1>
  </div>
<table class='table table-hover table-striped'>
  <thead>
    <tr>
      <th>User</th>
      <th>Text</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @suggestions.each do |suggestion| %>
      <tr>
        <td><%= suggestion.user %></td>
        <td><%= truncate(suggestion.text.html_safe, length:75) %></td>
        <td><%= suggestion.status %></td>
        <td><%= link_to 'Show', document_suggestion_path(suggestion.document,suggestion), class: "btn btn-info", style: "color:white" %></td>
        <% if suggestion.has_access(current_user) == true %>
          <td><%= link_to 'Edit', edit_document_suggestion_path(id: suggestion.id), class: "btn btn-primary", style: "color:white" %></td>
          <td><%= link_to 'Destroy',  document_suggestion_path(suggestion.document, suggestion), class: "btn btn-danger", style: "color:white",method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<%= link_to 'New Suggestion', new_document_suggestion_path, class: "btn btn-primary", style: "color:white" %>
<%= link_to 'Back', documents_path, class: "btn btn-success", style: "color:white" %>
