<body id="register">
<%= devise_error_messages! %>
<div class="col-md-5 col-xs-12 right-home" style="padding-left: 5%; padding-right: 5%">
  <div class="jumbotron" style="padding-left: 40px; padding-right: 40px;">
    <div class="row">
      <h2 style="text-align: center;">Invite your Colleagues</h2>
    </div>
    </br>
    </br>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="row text-center">
      <div class="field">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name, autofocus: true%>
      </div>

      <div class="field">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name%>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Create User", :class => "btn btn-success"%>
      </div>
              <%= render "devise/shared/links" %>
        </div>
    <% end %>
  </div>
</div>
</body>
